.menu {
	@include flex();
	justify-content: flex-end;
	&__item {
			padding: 0 15px;
		&--active {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: calc(100% - 30px);
				height: 3px;
				background-color: #ff6033;
				top: -9px;
				left: 15px;
			}
		}
	
		
	}
	&__link {
		color: $main-color;
		font-size: 16px;
		font-weight: 700;
		line-height: 25px;
		text-transform: uppercase;
	}
}
